[submodule "src/Include/cpp-header"]
	path = src/Include/cpp-header
	url = https://github.com/notSam25/cpp-header/
[submodule "src/Include/args"]
	path = src/Include/args
	url = https://github.com/Taywee/args
[submodule "src/Include/json"]
	path = src/Include/json
	url = https://github.com/nlohmann/json
[submodule "src/Include/filesystem"]
	path = src/Include/filesystem
	url = https://github.com/gulrak/filesystem
