[submodule "vendor/ghc_filesystem"]
	path = vendor/ghc_filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/cpp-header"]
	path = vendor/cpp-header
	url = https://github.com/notSam25/cpp-header.git
	branch = main
[submodule "vendor/args"]
	path = vendor/args
	url = https://github.com/Taywee/args.git
[submodule "vendor/Periodic-Table-JSON"]
	path = vendor/Periodic-Table-JSON
	url = https://github.com/Bowserinator/Periodic-Table-JSON